<%- include('header') %>
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto" id="cars">
        <div class="flex flex-col">

            <div class="flex flex-wrap sm:flex-row flex-col py-6 mb-12">
                <h2 id="toppart" class="sm:w-2/5 text-gray-900 font-medium title-font text-2xl mb-2 sm:mb-0">Welcome
                    to the world
                    of cars</h2>
                <p class="sm:w-3/5 leading-relaxed text-base sm:pl-10 pl-0">When you have more than 200
                    different
                    Car models, it gets difficult to choose the best Cars. With an enormous amount of data
                    being generated everyday by Car buyers in India on Our website, this list of best Cars truly
                    reflects the popularity of Cars in India.</p>
            </div>
        </div>
        <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
            <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
                <div class="rounded-lg h-64 overflow-hidden">
                    <a href="https://www.cardekho.com/kia/seltos">
                        <img alt="content" class="object-cover object-center h-full w-full"
                            src="images/kia seltos.jpeg"></a>
                </div>
                <h2 class="text-xl font-medium title-font text-gray-900 mt-5">Kia Seltos</h2>
                <p class="text-base leading-relaxed mt-2">The Kia Seltos has 2 Diesel Engine and 3 Petrol Engine on
                    offer. The Diesel engine is 1493 cc and 1499 cc while the Petrol engine is 1497 cc and 1353 cc
                    and 1399 cc .</p>
                <a class="text-indigo-500 inline-flex items-center mt-3"
                    href="https://www.cardekho.com/kia/seltos/specs">Learn More
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                </a>
            </div>
            <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
                <div class="rounded-lg h-64 overflow-hidden">
                    <a href="https://www.cardekho.com/carmodels/Hyundai/Hyundai_i20">
                        <img alt="content" class="object-cover object-center h-full w-full"
                            src="images/hyundai i20.png">
                    </a>
                </div>
                <h2 class="text-xl font-medium title-font text-gray-900 mt-5">Hyundai i20</h2>
                <p class="text-base leading-relaxed mt-2">The Hyundai i20 has 1 Diesel Engine and 2 Petrol Engine on
                    offer. The Diesel engine is 1493 cc while the Petrol engine is 1197 cc and 998 cc.</p>
                <a class="text-indigo-500 inline-flex items-center mt-3"
                    href="https://www.cardekho.com/hyundai/hyundai-i20-specifications.htm">Learn More
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                </a>
            </div>
            <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
                <div class="rounded-lg h-64 overflow-hidden">
                    <a href="https://www.cardekho.com/hyundai/aura">
                        <img alt="content" class="object-cover object-center h-full w-full"
                            src="images/hyundai aura.png"></a>
                </div>
                <h2 class="text-xl font-medium title-font text-gray-900 mt-5">Hyundai aura</h2>
                <p class="text-base leading-relaxed mt-2">The Hyundai Aura has 1 Diesel Engine, 2 Petrol Engine and
                    1 CNG Engine on offer. The Diesel engine is 1186 cc, the Petrol engine is 1197 cc and 998 cc
                    while the CNG engine is 1197 cc .</p>
                <a class="text-indigo-500 inline-flex items-center mt-3"
                    href="https://www.cardekho.com/hyundai/aura/specs">Learn More
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>
<%- include('footer') %>