<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="style.css">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-sacle=1.0">
    <title>My Vehicle Store</title>
</head>

<body>

    <div class="mynav">
        <img id="mbar" class="mbar" src="images/hamburger.png" alt="" style="width:50px;height:50px">
        <ul class="myul">

            <a href="/">
                <li>Home</li>
            </a>
            <a href="/">
                <li>Bikes</li>
            </a>
            <a href="/cars">
                <li>Cars</li>
            </a>

            <a href="/contact">
                <li>Contact</li>
            </a>

        </ul>
    </div>