<%- include('header') %>

    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto " id="bikes">
            <div class="flex flex-col">

                <div class="flex flex-wrap sm:flex-row flex-col py-6 mb-12">
                    <h1 id="toppart" class="sm:w-2/5 text-gray-900 font-medium title-font text-2xl mb-2 sm:mb-0 ">
                        Welcome
                        to the world
                        of bikes</h1>
                    <p class="sm:w-3/5 leading-relaxed text-base sm:pl-10 pl-0">When you have more than 200
                        different
                        motorcycle models, it gets difficult to choose the best bike. With an enormous amount of data
                        being generated everyday by bike buyers in India on Our website, this list of best bikes truly
                        reflects the popularity of bikes in India.
                    </p>
                </div>
            </div>
            <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
                <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
                    <div class="rounded-lg h-64 overflow-hidden">
                        <a href="https://www.bikedekho.com/yamaha/yzf-r15-v3/specifications"> <img alt="content"
                                class="mydark object-cover object-center h-full w-full "
                                style="margin: auto;padding: auto;" src="images/yamaha-r15.jpg">
                        </a>
                    </div>
                    <h2 class="text-xl font-medium title-font text-gray-900 mt-5">Yamagha YZF R15 V3</h2>
                    <p class="text-base leading-relaxed mt-2">Yamaha YZF R15 V3 starts at Rs. 1,56,600 and
                        goes upto Rs. 1,63,000 (estimated). Yamaha YZF R15 V3 is offered in 3 variants - YZF R15 V3
                        Metallic Red, YZF R15 V3 Dark Knight and the top variant YZF R15 V3 M which comes at a price
                        of Rs. 1.63 lakhs.
                    </p>
                    <a class="text-indigo-500 inline-flex items-center mt-3"
                        href="https://www.bikedekho.com/yamaha/yzf-r15-v3/specifications">Learn More
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
                <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
                    <div class="rounded-lg h-64 overflow-hidden">
                        <a href="https://www.bikedekho.com/tvs/apache/specifications">
                            <img alt="content" class="object-cover object-center h-full w-full"
                                src="images/TVS Apache RTR 160 4V.jpg"></a>
                    </div>
                    <h2 class="text-xl font-medium title-font text-gray-900 mt-5">TVS Apache RTR 160 4V</h2>
                    <p class="text-base leading-relaxed mt-2">The price of TVS Apache RTR 160 4V starts at Rs. 1,11,565
                        and goes upto Rs. 1,14,615. TVS Apache RTR 160 4V is offered in 2 variants - Apache RTR 160 4V
                        Drum and the top variant Apache RTR 160 4V Disc which comes at a price tag of Rs. 1,14,615.</p>
                    <a class="text-indigo-500 inline-flex items-center mt-3"
                        href="https://www.bikedekho.com/tvs/apache/specifications">Learn More
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
                <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
                    <div class="rounded-lg h-64 overflow-hidden">
                        <a
                            href="https://www.royalenfield.com/in/en/motorcycles/classic-350/campaign/?utm_source=google&utm_medium=cpc&utm_campaign=j1a_in_mc_brand_generic&utm_content=bmm&utm_term=%2Broyal%20%2Benfield%20%2B350%20%2Bcc%20%2Bbike&gclid=CjwKCAjwj8eJBhA5EiwAg3z0m1OCzXiVVqwvanFnLGpxF-Wg5ABRDBz8INBxAUWmmVDvqzLPVFLuABoCfp8QAvD_BwE">
                            <img alt="content" class="object-cover object-center h-full w-full"
                                src="images/Royal Enfield.jpg">
                        </a>

                    </div>
                    <h2 class="text-xl font-medium title-font text-gray-900 mt-5">Royal Enfiels classic 350</h2>
                    <p class="text-base leading-relaxed mt-2">The Royal Enfield Classic 350 is powered by a 349 cc
                        air-cooled engine which produces of power. It has a fuel tank of 13 L and a . The Royal Enfield
                        Classic 350 starts at Rs 1.93 Lakh Rs (ex-showroom, Delhi). It is available in five variants.
                    </p>
                    <a class="text-indigo-500 inline-flex items-center mt-3"
                        href="https://www.bikedekho.com/royal-enfield/classic-350/specifications">Learn More
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">

            <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
                <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
                    <div class="rounded-lg h-64 overflow-hidden">
                        <a href="https://www.bikedekho.com/bajaj/pulsar-rs-200">
                            <img alt="content" class="object-cover object-center h-full w-full"
                                src="images/Bajaj pulsar RS 200.jpg"></a>
                    </div>
                    <h2 class="text-xl font-medium title-font text-gray-900 mt-5">Bajaj pulsar RS 200</h2>
                    <p class="text-base leading-relaxed mt-2">The price of Bajaj Pulsar RS200 starts at Rs. 1,62,445.
                        Bajaj Pulsar RS200 is offered in 1 variant - Pulsar RS200 ABS which comes at a price tag of Rs.
                        1,62,445.</p>
                    <a class="text-indigo-500 inline-flex items-center mt-3"
                        href="https://www.bikedekho.com/bajaj/pulsar-rs-200/specifications">Learn More
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
                <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
                    <div class="rounded-lg h-64 overflow-hidden">
                        <a href="https://www.bikedekho.com/bajaj/dominar-250">
                            <img alt="content" class="object-cover object-center h-full w-full"
                                src="images/Bajaj Dominar 250.jpeg">
                        </a>
                    </div>
                    <h2 class="text-xl font-medium title-font text-gray-900 mt-5">Bajaj Dominar 250</h2>
                    <p class="text-base leading-relaxed mt-2">The price of Bajaj Dominar 250 starts at Rs. 1,54,176.
                        Bajaj Dominar 250 is offered in 1 variant - Dominar 250 STD which comes at a price tag of Rs.
                        1,54,176..</p>
                    <a class="text-indigo-500 inline-flex items-center mt-3"
                        href="https://www.bikedekho.com/bajaj/dominar-250/specifications">Learn More
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
                <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
                    <div class="rounded-lg h-64 overflow-hidden">
                        <a href="https://www.bikedekho.com/ktm/125-duke">
                            <img alt="content" class="object-cover object-center h-full w-full"
                                src="images/KTM-Duke-125-.jpg"></a>
                    </div>
                    <h2 class="text-xl font-medium title-font text-gray-900 mt-5">KTM Duke 125</h2>
                    <p class="text-base leading-relaxed mt-2">The price of KTM 125 Duke starts at Rs. 1,70,515. KTM 125
                        Duke is offered in 1 variant - 125 Duke 2021 which comes at a price tag of Rs. 1,70,515..</p>
                    <a class="text-indigo-500 inline-flex items-center mt-3"
                        href="https://www.bikedekho.com/ktm/125-duke/specifications">Learn More
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </section>
   
    <%- include('footer') %>